{% load static %}
<!DOCTYPE html>
<html lang="es" data-theme="light">
<!--<html lang="es" data-theme="dark">-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Mi Bodega{% endblock %}</title>

        <!-- Fuentes -->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">

        <!-- CSS empaquetado -->
        <link rel="stylesheet" href="{% static 'build/assets/style.css' %}">

        {% block extra_css %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% include "includes/navbar.html" %}

        {% block page_subnav %}{% endblock %}

        {% include "includes/search_subnav.html" %}

        <main class="main-container">
            {% block content %}{% endblock %}
        </main>

        {% include "includes/footer.html" %}

        <!-- JS empaquetado -->
        <script type="module" src="{% static 'build/assets/main.js' %}" defer></script>

        {% block extra_js %}{% endblock %}
    </body>
</html>
